<%- include('../fragments/header.ejs') %>

<main>
    <h2> This is the debug menu! If you see this, you omitted error 500! </h2>
        <form class="form" id="form" method="post"  novalidate>
      
            <%  console.log("THIS IS RESERV" + reserv)%>


        </form>
</main>

<%- include('../fragments/footer.ejs') %>