<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>VSF</title>
</head>

<body>

    <header>
        <h1>Viet Street Food</h1>
        <img src="images/vsf.jfif" width="100" height="100" alt="VSF Logo">
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Strona główna</a></li>
            <li><a href="guest-list.html">Goście</a></li>
            <li><a href="rezerwacje-list.html">Rezerwacje</a></li>
            <li><a href="stoliki-list.html">Stoliki</a></li>
        </ul>
    </nav>


    <main>
        <h2>Szczegóły</h2>
        <form class="form">

            <label for="firstName">Imie</label>
            <input type="text" name="firstName" id="firstName" value="Ada" disabled />
            <label for="lastName">Nazwisko:</label>
            <input type="text" name="lastName" id="lastName" value="Mom" disabled />
            <label for="telNumber">Numer telefonu:</label>
            <input type="text" name="telNumber" id="telNumber" value="123-456-789" disabled />
            <label for="mail">E-Mail:</label>
            <input type="text" name="mail" id="mail" value="Ada@Mom.pl" disabled />
            <label for="NIP">NIP:</label>
            <input type="text" name="NIP" id="NIP" value="6754763864" disabled />
           
                
			<a href="guest-edit2.html" class=form-button-submit> Edytuj </a>
			<br><a href="guest-list.html" class=form-button-submit> Powrót </a>
            
        </form>


    </main>
    <footer>
        Thanh Cong Pham Trong S19263
    </footer>


</body>
</html>