<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>VSF</title>
</head>

<body>

    <header>
        <h1>Viet Street Food</h1>
        <img src="images/vsf.jfif" width="100" height="100" alt="VSF Logo">
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Strona główna</a></li>
            <li><a href="guest-list.html">Goście</a></li>
            <li><a href="rezerwacje-list.html">Rezerwacje</a></li>
            <li><a href="stoliki-list.html">Stoliki</a></li>
        </ul>
    </nav>

    <main>
        <h2>Rezerwacje stolik nr 1</h2>
        
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Liczba osób</th>

                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>Adam</td>
                    <td>Gom</td>
                    <td>24/04/20</td>
                    <td>19:00</td>
                    <td>2</td>
                    
                </tr>

                <tr>
                    <td>Ada</td>
                    <td>Mom</td>
                    <td>22/02/20</td>
                    <td>13:00</td>
                    <td>4</td>
                    
                </tr>

                <tr>
                    <td>Ali</td>
                    <td>Express</td>
                    <td>26/02/20</td>
                    <td>15:00</td>
                    <td>3</td>
                    
            </tbody>
        </table>

        <p><a href="stoliki-list.html" class="button-add"> Powrót </a></p>

    </main>


    <footer>
        Thanh Cong, Pham Trong, S19263
    </footer>


</body>
</html>