<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Stoliki</h2>
        
        <table class="table-list">
            <thead>
                <tr>
                    <th>Numer stolika</th>
                    <th>Max. liczba osób</th>
					<th>Akcje</th>

                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>

                    <td class="table-list-actions">
                        <ul>
                            
                        <li><a href="/tables/details" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="stolik-edit1.html" class="list-actions-button-edit">Edytuj</a></li>  
                        <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>

                <tr>
                    <td>1</td>
                    <td>4</td>

                    <td class="table-list-actions">
                        <ul>
                            <li><a href="stolik-details1.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="stoliki/stolik-edit2.html" class="list-actions-button-edit">Edytuj</a></li>  
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>

                <tr>
                    <td>3</td>
                    <td>5</td>

                    <td class="table-list-actions">
                        <ul>
                            <li><a href="stolik-details1.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="stoliki/stolik-edit3.html" class="list-actions-button-edit">Edytuj</a></li>  
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>

                <tr>
                    <td>4</td>
                    <td>2</td>

                    <td class="table-list-actions">
                        <ul>
                            <li><a href="stolik-details1.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="stolik-edit.html" class="list-actions-button-edit">Edytuj</a></li>  
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>
               
                <tr>
                    <td>5</td>
                    <td>1</td>

                    <td class="table-list-actions">
                        <ul>
                            <li><a href="stolik-details1.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="" class="list-actions-button-edit">Edytuj</a></li>  
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>
                <tr>
                    <td>6</td>
                    <td>8</td>

                    <td class="table-list-actions">
                        <ul>
                            <li><a href="stolik-details1.html" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="" class="list-actions-button-edit">Edytuj</a></li>  
                            <li><a href="" class="list-actions-button-delete">Usuń</a></li>

                        </ul>
                </tr>

               
            </tbody>
        </table>

        <p><a href="tables/add" class="button-add"> Dodaj stolik </a></p>

    </main>


    
    <%- include('../fragments/footer.ejs') %>